{{- if .Values.pipelines.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mysql
    application-crd-id: kubeflow-pipelines
  name: mysql
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: mysql
      application-crd-id: kubeflow-pipelines
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: mysql
        application-crd-id: kubeflow-pipelines
    spec:
      containers:
      - args:
        {{- if semverCompare "~5.7" (.Values.pipelines.images.mysql.tag | toString) }}
        - --ignore-db-dir=lost+found
        {{- end }}
        {{- if semverCompare "~5.7" (.Values.pipelines.images.mysql.tag | toString) }}
        # MLMD workloads (metadata-grpc-deployment and metadata-writer)
        # depend on mysql_native_password authentication plugin.
        - --default-authentication-plugin=mysql_native_password
        - --disable-log-bin
        {{- end }}
        - --datadir
        - /var/lib/mysql
        env:
        - name: MYSQL_ALLOW_EMPTY_PASSWORD
          value: "true"
        image: {{ .Values.pipelines.images.mysql.repository }}:{{ .Values.pipelines.images.mysql.tag }}
        imagePullPolicy: IfNotPresent
        name: mysql
        ports:
        - containerPort: 3306
          name: mysql
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 500Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/lib/mysql
          name: mysql-persistent-storage
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: mysql
      serviceAccountName: mysql
      terminationGracePeriodSeconds: 30
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim
      {{- with .Values.pipelines.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.pipelines.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
{{- end -}}
