{{ if .Values.jupyterNotebook.enabled}}
{{- $bucket_name := .Values.global.infrastructure.aws.bucketName | default "mlrun" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: jupyter-common-env
data:
{{- if not .Values.global.infrastructure.aws.s3NonAnonymous }}
  S3_ENDPOINT_URL: {{ include "mlrun-ce.minio.service.url" . }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.minio.rootPassword }}
  AWS_ACCESS_KEY_ID: {{ .Values.minio.rootUser }}
{{- end }}
  MLRUN_STORAGE__AUTO_MOUNT_TYPE: s3
  S3_NON_ANONYMOUS: {{ .Values.global.infrastructure.aws.s3NonAnonymous  | toString | title | quote | default "\"True\"" }}
  MLRUN_CE__MODE: {{ .Values.jupyterNotebook.ce.mode | default "full" }}
  MLRUN_CE__VERSION: {{ .Chart.Version }}
  MLRUN_FUNCTION__SPEC__SERVICE_ACCOUNT__DEFAULT: {{ .Values.mlrun.api.functionSpecServiceAccountDefault | default "" | quote }}
  MLRUN_FEATURE_STORE__DATA_PREFIXES__DEFAULT: s3:///{{ $bucket_name }}/projects/{project}/FeatureStore/{name}/{kind}
  MLRUN_STORAGE__AUTO_MOUNT_PARAMS: {{ include "mlrun.storage.auto.mount.params" . }}
  MLRUN_ARTIFACT_PATH: s3://{{ $bucket_name }}/projects/{{ `{{run.project}}` }}/artifacts{{ `{{run.uid}}` }}
  MLRUN_FEATURE_STORE__DATA_PREFIXES__NOSQL: ""
  MLRUN_FEATURE_STORE__DEFAULT_TARGETS: parquet
  MLRUN_HTTPDB__REAL_PATH: s3://
{{- end}}
